
= f.label :username
%br
= f.text_field :username
%br
= f.label :password
%br
= f.text_field :password
%br
= f.label :name
%br
= f.text_field :name
%br
= f.label :email
%br
=	f.text_field :email
%br
= f.label :interests
%br
= f.text_field :interests
%br
= f.label :description
%br
= f.text_field :description
%br

= f.submit
