= render "layouts/header"
.row
	.text-center
		%br
		%h1 
			= @user.username
		%br
			= @user.name
		%br
			= @user.description
		%br
			= @user.interests
		%br
		.btn-group
			= link_to "Edit" , edit_user_path , method: "get" , :class => "btn btn-warning" , :role => "button" 
			= link_to "Delete" , user_path , method: "delete" , :class => "btn btn-danger" , :role => "button" 
			= mail_to "#{@user.email}" , "Email" , method: "get" , :class => "btn btn-info" , :role => "button" 



