= f.label :title
= f.text_field :title
%br
= f.label :description
= f.text_area :description
%br
challenger name
= f.select :challenger_id, Challenger.all.collect {|c| [c.name, c.id]} 

%br
select User
= f.select :user_id, User.all.collect {|u| [u.name, u.id]} 
%br

= f.submit



